
 process {
   executor='slurm'
   withName: phase_common{
   clusterOptions = "--account=nn10082k --job-name=phase --time=24:00:00 --mem-per-cpu=20G --cpus-per-task=1"
   }
   withName: ligate_chr{
   clusterOptions = "--account=nn10082k --job-name=ligate --time=12:00:00 --mem-per-cpu=20G --cpus-per-task=1"
   }   
}
